<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-4">
      <div class="card custom-card">
        <div class="card-body">
          <%= image_tag "rightcircle.png", style: "width:150px;margin-left: auto;margin-right: auto;display:block;" %>
          <h5 class="text-center text-secondary">
          Thank You! Your test has been submitted successfully.</h5>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="text-center">
                <h6 class="font-weight-bold">Total Questions</h6>
                <h6><%= @test_paper.multiple_choice_questions.count %></h6>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-center">
                <h6 class="font-weight-bold">Total Questions Attempted</h6>
                <h6><%= @test_paper.submissions.find_by(test_paper_id: @test_paper.id, user_id: current_user.id).user_response_values.count %></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .custom-card {
    border-radius:0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  }
  .btn-mark {
    width: 50px;
  }
  .btn-indigo, .btn-indigo:hover {
    background-color: #4B0082;
    border-color: #4B0082;
    color:#fff;
  }
</style>