<div class="container">
  <div class="col-12">
    <h1>Editing Test Paper</h1>
    <%= render 'form', test_paper: @test_paper %>
    <%= link_to 'Show', @test_paper %> |
    <%= link_to 'Back', test_papers_path %>
  </div>
</div>
